{% extends "bootstrap_5_layout.html" %}
{% set active_page = "quiz" %}

{% block content %}
<h1>Starting Smiski Quiz...</h1>

<form action="/results">
{% for x in questions %}
    <p>{{ x.question }}</p>

    {% for key, option in x.options.items() %}
        <input type="radio" id="a{{ x.name }}" name="q{{ x.name }}" value="{{ key }}">
        <label for="{{ key }}">{{ option }}</label><br>
    {% endfor %}
    <br>
{% endfor %}

<div class="d-flex justify-content-center" style="margin-top: 2em;">
    <a href="/results" class="btn btn-success btn-lg" role="button">
        Submit!
    </a>
</div>

</form>

{% endblock %}